@charset "UTF-8";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "ヒラギノ角ゴシック", "Hiragino Sans",
		"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	margin: 0;
	overflow-wrap: anywhere;

	#main_cont {
		display: flex;
		flex-direction: row;
		background-color: #e0e0e0;
		padding: 2rem 0;

		#menu {
			flex: 0 0 20rem;
			padding: 2rem;
			box-sizing: border-box;
			min-height: 100vh;
			border-right: 1px solid #000000;

			.logo {
				max-width: 20rem;
			}

			ul {
				padding: 0;
				li {
					padding: 2rem 0;
					list-style-type: none;
					font-size: 1.5rem;
					text-align: center;
				}
			}
		}

		#content {
			flex: 1;
			padding-left: 2rem;
			background-color: #e0e0e0;
		}
	}
}
